/Analizador/nbproject/private/
/Analizador/build/
/Analizador/dist/
/AnalizadorSobresaliente/nbproject/private/
/AnalizadorSobresaliente/build/
/AnalizadorSobresaliente/dist/
/DDS/nbproject/private/
/DDS/build/
/DDS/dist/
/DDS (copia)/build/
/DDS (copia)/dist/
/DDS (copia)/nbproject/private/
/DDSJunio/nbproject/private/
/DDSJunio/build/
/DDSJunio/dist/